body {
      margin: 0px;
      padding: 0px;
     }

#container{
            width:1100px;
            margin:0px auto;
            background:white;
            padding:0px;
            overflow: hidden;
            
         }

header {
         padding: 0px 20px;
         text-align: left;
         margin-left: -5px;
         width: 70%;
         margin-top: 10px;;
        }

main {
      margin: 15px;
     }
article p{
           font-size: 20px;
           padding: 0px;
           margin: 20px auto;
           width: 196%;
           height: auto;
         }

#foto {
        float: right;
        margin: 54px auto;
        width: 58%;
        margin-right: 45px;
      }
img{
    width: 83%;
    }
.contenido {
            list-style:none;
            }

div#texto ul {
              margin-bottom: 12px;
             }           

table{
       
        border-collapse: collapse;
        width: 1%;
        margin-bottom: 47px;
        }
th{
     background:black;
     color:white;
     border: 1px solid black;
     padding: 19px;
     }
 
tr td{
        border: 1px solid black;
        }

form{
     font-size: 20px;
    }        
#nombre {
          margin: 9px auto;
          width: 11%; 
        }  

#apellidos {
           margin: 9px auto;
           width: 12%; 
          }       

#gen {
        margin: 9px auto;
     }

#correo {
          margin: 9px auto;
        }

.check {
         margin: 21px auto;
        }


input[type="submit"] {
                       margin: 9px auto;
                       border-right: 2px solid #948c8c;
                       border-bottom: 3px solid #948c8c;
                       border-left: none;
                       border-top: none;
                       font-size: 11px;
                       padding: 10px;
                      }

