USE [master]
GO
/****** Object:  Database [REPASO_AGOSTO]    Script Date: 18/08/2021 20:23:52 ******/
CREATE DATABASE [REPASO_AGOSTO] ON  PRIMARY 
( NAME = N'REPASO_AGOSTO', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESSJORGE\MSSQL\DATA\REPASO_AGOSTO.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'REPASO_AGOSTO_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESSJORGE\MSSQL\DATA\REPASO_AGOSTO_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [REPASO_AGOSTO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [REPASO_AGOSTO]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 18/08/2021 20:23:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Dni] [nvarchar](9) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Apellidos] [nvarchar](50) NULL,
	[Estado_Civil] [nvarchar](20) NULL,
	[Telefono] [nvarchar](10) NULL,
	[Email] [nvarchar](10) NULL,
	[Fecha_Nacimiento] [datetime] NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Clientes] ([Dni], [Nombre], [Apellidos], [Estado_Civil], [Telefono], [Email], [Fecha_Nacimiento]) VALUES (N'09430205J', N'juan', N'gonzalez', N'Soltero', N'63245678', N'juangmail', CAST(N'2021-08-11T20:20:34.000' AS DateTime))
GO
USE [master]
GO
