USE [INYECCIONSQL]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 26/07/2021 18:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[ID] [int] NULL,
	[Nombre] [varchar](50) NULL,
	[Edad] [int] NULL
) ON [PRIMARY]
GO
